<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SubtleVibes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B99123C1E9D72A600674BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B9912501E9D72A700674BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B99125B1E9D72A700674BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
